body {
    background-color: #F0ECE3;
}

.container-app {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Roboto', sans-serif;
}

.outfit-container, .men-container, .place-container {
    display: flex;
    flex-direction: column;
    
}

.header-container {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
}

.btnDeleteAll {
    margin-top: 10px;
    background-color: #A68DAD;
    border: none;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.btnRemove {
    margin-top: 5px;
    background-color: #DFD3C3;
    border: none;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
}

